<footer>
  <div class="content">
    <div class="link-boxes">
      <ul class="box">
        <img
          src="{{.Site.Params.pathUrl}}/img/logo.svg"
          alt="icx-logo"
          style="margin-top: 10px"
          onclick="goTo('/')"
        />
      </ul>
      <ul class="box">
        <li class="link_name">Company</li>
        <li><a href="https://zetabot.co/terms-conditions">Term & Condition</a></li>
        <li><a href="https://zetabot.co/privacy-policy">Privacy Policy</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Product</li>
        <li><a href="https://zetabot.co">Zetabot</a></li>
        <li><a href="#">Helpman</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Contact Us</li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=6281380801431"
            >+62 8138 0801 431</a
          >
        </li>
        <li><a href="mailto:hello@zetabot.co">hello@zetabot.co </a></li>
      </ul>
    </div>
    <div style="border: 1px solid; border-color: #cbd5e0"></div>
    <div class="top">
      <div class="media-icons">
        <img
          src="{{.Site.Params.pathUrl}}/img/icon-linkedin.svg"
          alt="linkedin"
          height="22px"
          width="22px"
        />
        <img
          src="{{.Site.Params.pathUrl}}/img/icon-instagram.svg"
          alt="instagram"
          height="23px"
          width="23px"
        />
        <img
          src="{{.Site.Params.pathUrl}}/img/icon-twitter.svg"
          alt="twitter"
          height="23px"
          width="23px"
        />
        <img
          src="{{.Site.Params.pathUrl}}/img/icon-facebook.svg"
          alt="facebook"
          height="24px"
          width="24px"
        />
      </div>
      <div class="address">
        Jl. Raya Kalimalang No.8 Kec. Makasar, DKI Jakarta 13620
      </div>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom-text">
      <span>© Copyright 2023 Zetabot</span>
    </div>
  </div>
</footer>
