<div class="footer-container">
  <div style="max-width: 1140px !important">
    <p
      style="
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        color: #fff;
        margin-bottom: 16px;
      "
    >
      Disclaimer
    </p>
    <p style="font-size: 12px; width: 100%">
      Semua informasi yang ditampilkan pada situs kami merupakan sebuah pandangan umum dan 
      tidak dapat dianggap sebagai saran investasi atau jasa keuangan. Kami tidak menjamin 
      keakuratan atau kelengkapan informasi yang ditampilkan dan segala risiko yang terkait 
      dengan pembuatan keputusan investasi atau jasa keuangan sepenuhnya menjadi tanggung 
      jawab pribadi pengguna situs kami.
    </p>
  </div>
  <div style="border-top: 1px solid #343a40; width: 100vw"></div>
  <div style="max-width: 1140px !important; width: 100%">
    <p
      style="
        padding: 16px 0px;
        font-size: 14px;
        color: #fff;
        margin-bottom: 0px !important;
        width: 100%;
      "
    >
      © 2023 8grams. All Rights Reserved.
    </p>
  </div>
</div>
