<style>
  .item-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background-color: #fff;
  }

  .item-card .image {
    width: 100%;
    height: 274.36px;
    object-fit: cover;
    border-radius: 12px;
  }

  .item-card .item-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .item-detail .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  a.item-card:hover .item-detail .title {
    color: var(--primary);
  }

  .details .category {
    display: flex;
    flex-direction: row;
    color: #593ca5;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
  }

  .details .time {
    display: flex;
    flex-direction: row;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 31px;
    margin-bottom: 31px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .item-detail .btn-read {
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #081d34;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .item-card .image {
      height: 200px;
    }
  }

  @media (max-width: 760px) {
    .item-card {
      width: 100%;
    }
  }
</style>

<div style="margin: 10px; width: 100%">
  <a href="{{ .RelPermalink }}" class="item-card" style="width: 100%">
    {{if .Params.image}} {{if in .Params.image "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{end}} {{else if .Params.featuredImage.src}} {{if in
    .Params.featuredImage.src "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{end}} {{end}}

    <div class="item-detail">
      <div class="details">
        <div class="category" style="display: flex; flex-direction: row">
          <div>{{ range .Params.tag }}{{ . }}{{ end }}</div>
          <div style="color: #828282;">|</div>
          <div>{{ .Params.author }}</div>
        </div>
        <div class="time">
          <img
            src="{{.Site.Params.pathUrl}}/img/round-time.svg"
            alt="time"
          />
          <div>{{ .ReadingTime }} m</div>
        </div>
      </div>
      <div class="title">{{.Params.title}}</div>
      <div class="btn-read">
        Lebih Lengkap
        <img
          src="{{.Site.Params.pathUrl}}/img/arrow-right.svg"
          alt="read-more"
          height="10px"
          style="margin-top: 1px; margin-left: 4px"
        />
      </div>
    </div>
  </a>
</div>
