footer {
  background: #f2f4f7;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  max-width: 1900px;
  margin: auto;
  padding: 40px 112px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #626b79;
}

.content .top .media-icons {
  display: flex;
  padding: 16px 0px;
  gap: 16px;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  margin-top: 40px;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #232933;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
}

.content .link-boxes .box li {
  /* margin: 6px 0; */
  list-style: none;
}
.content .link-boxes .box li a {
  color: #626B79;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #ffffff;
  color: #626b79;
}
footer .bottom-details .bottom-text {
  max-width: 1250px;
  margin: auto;
  padding: 24px 50px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content{
    padding: 40px 20px;
  }
}
